/*
Selector universal (todos) *
Selector de tipo (div, h1, input, h2, span, p, ....)
Selector de clase ( . nombreDeClase)
Selector de identificador ( #id )
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0px;
    font-family: 'Bangers';
}



#Cabecera {
    margin: auto;
    width: 100%;
    border: 0px;
    background-color: #4267B2;
    padding-top: 10px;
    height: 100px;
}

#facebook {
    float: left;
    margin: auto;
    text-align: center;
    font-size: 23px;
    width: 50%;
    height: 90px;
    border: 0px;
    background-color: #4267B2;
    color: white;
}

h1 {
    line-height: 90px;
}

#texto1 {
    float: left;
    margin: auto;
    text-align: left;
    width: 9%;
    height: 30px;
    border: 0px;
    background-color: #4267B2;
    color: white;
}

#texto2 {
    float: left;
    margin: auto;
    text-align: bottom;
    width: 41%;
    height: 30px;
    border: 0px;
    background-color: #4267B2;
    color: white;
}

h2 {
    margin-top: 16px;
    font-size: 0.8em;
    line-height: 30px;
}

#inputs {
    float: right;
    margin: auto;
    width: 50%;
    height: 30px;
    border: 0px;
    background-color: #4267B2;
    color: white;
}

#password {
    margin: auto;
    margin-left: 35px;
}

#boton {
    margin: auto;
    margin-left: 105px;
    background-color: rgb(66, 87, 178);
    border-color: black;
    border: 0.5;
    color: white;
}

#olvidado {
    float: right;
    margin: auto;
    color: grey;
    font-size: 0.8em;
    padding-left: 18px;
    width: 41%;
    height: 30px;
        border: 0px;
    background-color: #4267B2;
}

