/*
selector universal (todos) *
selector de tipo (div, h1, input, h2, span, ...)
selector de clase (.nombredeclase)
selector de indentificador (#id) colorear parte especifica 
*/
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap"); /*dar estilo a las letras de mi pagina web*/


/*hacer degradado en el fondo de la web
html{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D 
    background: #7d7e7d; /* Old browsers 
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 

}*/


html{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
     Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D 
    background: #7d7e7d;  
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);  
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); 
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); 

* {     
    font-family: 'Permanent Marker', cursive; /*especifica la fuente para un elemento*/
}

body{
    background-color: black;/*rellenar de color el fondo de la pag*/
}

#registro{
    margin: auto;
    padding: 3%;
    width: 20em;
    height: 20em;
    background-color: rgb(226, 179, 25);
    
}

.botonazul{
    background-color:darkseagreen;
}

#registro {/*alinea todo los parrafos dentrod el identificador registro*/
    text-align: center; /*alinear en el centro*/
}

.registro{
    width: 60%;
    text-align: center;
    padding: 1.5%;
    margin-bottom: 1.5%;
}
.texto {
    font-size: 1em; /*dar tamaño a la clase texto em(tamaño respecto al orginal*/
}

.fondo {
    background-color: rgb(228, 228, 228);
    border-width: 5px;
    border-color: goldenrod;
    
}